.layoutInicio{
    display: flex;
    height: 100vh;
    overflow: hidden;    
}
.sidebar-heigth {
    flex: 1 1 22%;
}
.main{
    background-color: #100E1D;
    flex: 1 1 80%;
    overflow-y: scroll;
}
    .main-container{
        margin: auto;
        width: 80%;
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .main-header{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }
        .temp{          
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
        }
        .temp-cel{
            background-color: #E7E7EB;
            color: #110E3C;
        }
        .temp-fahr{
            background-color: #585676;
            color: #E7E7EB;
            margin-left: 10px;
        }
        
    .contentWeatherInfo{
        display: flex;  
        justify-content: space-between;  
    }