.layoutInicio{
    display: flex;
    height: 100vh;
    overflow: hidden;    
}
.sidebar-heigth {
    flex: 1 1 22%;
}
.main{
    background-color: #100E1D;
    flex: 1 1 80%;
    overflow-y: scroll;
}
    .main-container{
        margin: auto;
        width: 80%;
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .main-header{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }
        .temp{          
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
        }
        .temp-cel{
            background-color: #E7E7EB;
            color: #110E3C;
        }
        .temp-fahr{
            background-color: #585676;
            color: #E7E7EB;
            margin-left: 10px;
        }
        
    .contentWeatherInfo{
        display: flex;  
        justify-content: space-between;  
    }
.preloader-container{
    height: 100vh;
    overflow: hidden;
    background-color: #100E1D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader_1{
    position:relative;
}
    .preloader_1 span{
        display:block;
        bottom:0px;
        width: 9px;
        height: 5px;
        background:#e0dce2;
        position:absolute;
        animation: preloader_1 1.5s  infinite ease-in-out;
    }
    
    .preloader_1 span:nth-child(2){
    left:11px;
    animation-delay: .2s;
    
    }
    .preloader_1 span:nth-child(3){
    left:22px;
    animation-delay: .4s;
    }
    .preloader_1 span:nth-child(4){
    left:33px;
    animation-delay: .6s;
    }
    .preloader_1 span:nth-child(5){
    left:44px;
    animation-delay: .8s;
    }
    @keyframes preloader_1 {
        0% {height:50px;transform:translateY(0px);background:#9b59b6;}
        25% {height:120px;transform:translateY(15px);background:#3498db;}
        50% {height:50px;transform:translateY(0px);background:#9b59b6;}
        100% {height:50px;transform:translateY(0px);background:#9b59b6;}
    }