.sidebar {
    background-color: #1E213A;
    height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -70px 70px;
}

.sidebar-img{
    background-image: url(../../assets/Cloud-background.png);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    padding: 25px;
}
    .btn-sidebar {
        height: 32px;
        padding-right: 15px;
        padding-left: 15px;
        color: white;
    }
    .btn{
        background-color:#6E707A;
    }
    .btn-location{
        height: 32px;
        color: white;
    }
.sidebar-body{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

    .sidebar-body-img{
        width: 47%;
        margin-top: 50px;
    }

    .sidebar-body h2{
        font-size: 68px;
        margin-bottom: 0px;
    }

    .sidebar-body h2 span{
        font-size: 32px;
        font-weight: 400;
        color: #6E707A;
    }

    .sidebar-body h3{
        font-size: 32px;
        font-weight: 500;
        color: #A09FB1;
    }

.sidebar-footer{
    height: 20%;
    text-align: center;
    color: #88869D;
}

    .sidebar-footer p span{
        margin-left: 10px;
        margin-right: 10px;
    }

.btn-red{
    background-color: red;
}

.sidebar-search{
    padding: 30px;
    overflow-y: scroll;
}
    .sidebar-search-x{
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-end;
    }
        .sidebar-search-x button{
            background-color: transparent;
            border: none;
            color: white;
            font-size: 32px;
            cursor: pointer;            
        }
    .sidebar-search div{
        display: flex;
        justify-content: space-between;
    }
        .sidebar-search .input-content{
            background-color: transparent;
            display: grid;
            grid-template-columns: 15% 85%;
            height: 32px;
            border: 1px solid white;
            color: #616475;
        }
        .sidebar-search .input-content:hover{
            color: white;
        }
            .sidebar-search .input-content div{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .sidebar-search .input-content input{
                background-color: transparent;
                border: none;
                color: white;
            }            
            .sidebar-search .input-content input::placeholder{
                color: #616475;
            }
            .sidebar-search .input-content input:hover::placeholder{
                color: white;
            }
            .sidebar-search .input-content input:focus{                
                outline: none;
            }
    .sidebar-search-btn{
        background-color: #3C47E9;
        border: none;
        color: white;
        height: 32px;
    }
.location{
    display: flex;
    flex-direction: column;
}
    .location .item{       
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .location .item:hover{
        border: 1px solid white;
    }
        .location .item p {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
        }